body {
  font-family: sans-serif;
  background: darkslategray;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(152, 175, 141);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 20px 10px;
}
.project-list {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.project-list:hover {
  background: #e0e0e0;
}
.todo-item{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.priority-high {
  background: rgb(240, 4, 4); 
}

.priority-mid {
  background: rgb(255, 165, 0);
}

.priority-low {
  background: rgb(100, 200, 100); 
}